@import "tailwindcss";

@layer utilities {
    .scrollbar-hide {
        scrollbar-width: 1px;
        -ms-overflow-style: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}
