@import "tailwindcss";

@layer utilities {
    .scrollbar-hide {
        scrollbar-width: 1px;
        -ms-overflow-style: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    /* .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
    }
    .photo-item {
        aspect-ratio: 1/1;
        position: relative;
        overflow: hidden;
    } */
    .photo-item:hover .photo-overlay {
        opacity: 1;
    }
    /* .photo-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    } */
}
